SCIfile.txt
Bourgeon.gmx/Configs/Default/Android/splash.png
Bourgeon.gmx/Configs/Default/Android/icons/icon_mdpi.png
Bourgeon.gmx/Configs/Default/Android/icons/ouyaIcon.png
Bourgeon.gmx/Configs/Default/Android/icons/icon_xxxhdpi.png
Bourgeon.gmx/Configs/Default/Android/icons/icon_xxhdpi.png
Bourgeon.gmx/Configs/Default/Android/icons/icon_xhdpi.png
Bourgeon.gmx/Configs/Default/Android/icons/icon_ldpi.png
Bourgeon.gmx/Configs/Default/Android/portrait_splash.png
Bourgeon.gmx/Configs/Default/Android/icons/icon_hdpi.png